<?xml version="1.0" encoding="UTF-8"?>
<document xmlns="http://maven.apache.org/XDOC/2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

    <properties>
        <title>Ferris Scriptural</title>
        <author email="mjremijan@yahoo.com">Michael Remijan</author>
    </properties>

    <!-- Optional HEAD element, which is copied as is into the XHTML <head> element
<head>
     <meta ... />
</head>
    -->

    <body>
        <section name="">
            <div id="twStart">
                <h2>Start Using Scriptural Tray</h2>
                <span class="nav-header">A SCRIPTURe ALert System</span>
                <a href="${project.parent.scm.url}/releases/download/${project.parent.build.finalName}/${project.build.finalName}-${ferrisWindowsAssemblyId}.zip">
                    <img src="images/windows-icon.png" />Download for Windows
                </a>
				&nbsp; &nbsp; &nbsp; &nbsp;
                <a href="${project.parent.scm.url}/tree/master/${project.artifactId}">
                    <img src="images/octocat-icon.png" />Visit on GitHub
                </a>
            </div>
        </section>
		
        <section name="">
            <p>
                <b>ferris-scriptural-tray</b> is a 100% pure Java stand-alone and self-contained 
                Windows tray application. It comes with its own JRE, so just download and run.
            </p>
            <p>
                Only a few simple steps to get up and running:  			
            </p>
            <ol>
                <li><a href="${project.parent.scm.url}/releases/download/${project.parent.build.finalName}/${project.build.finalName}-${ferrisWindowsAssemblyId}.zip">Download</a></li>
                <li><a href="installation.html">Install</a></li>
                <li><a href="configuration.html">Configure</a></li>
                <li><a href="verses-file.html">Create Your Verses File</a></li>
                <li>Run!</li>
            </ol>
            
            <p>
                <img src="../images/screenshot.jpg" />
            </p>
        </section>

    </body>
</document>